<!DOCTYPE html>
<html>
<head>
    """
    
    
    <meta charset="utf-8" />
    <meta name="description" content="find work site" />
    <title>OpenToWork</title>
    
    <body>
        <center>

            <a href="file:///C:/Users/tasneem/OneDrive/Desktop/group31-2/project1/app1/templates/app1/signupco.html">
                <button type="submit">Community or Public Figure</button>
            </a>
            <a href="file:///C:/Users/tasneem/OneDrive/Desktop/group31-2/project1/app1/templates/app1/signupbus.html">
                <button style="background-color:dimgrey;color:aliceblue;border-radius:5px">Business or Brand</button>
            </a>
        </center>

    </body>
</head>
</html>